@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  background-color: $secondary;
}

.table {
  --bs-table-bg: unset;
}

td > a {
  text-decoration: none;
}

/* tier */
.tier10 {
  background: #ff0000;
}

.tier9 {
  background: #fd7e14;
}

.tier8 {
  background: #f02727;
}

.tier7 {
  background: #a83e73;
}

.tier6 {
  background: #1fe66b;
}

.tier5 {
  background: #ffc107;
}

.tier4 {
  background: #54c0db;
}

.tier3 {
  background: #d3e910;
}

.tier2 {
  background: #e4f58d;
}

.tier1 {
  background: #727950;
}

.input-price {
  width: 200px;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-input {
  height: 10px;
}

.img-profile {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.img-profile-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25px;
}

.rowSales {
  text-decoration: none;
  color: #000;
}

.rowSales:hover {
  background-color: rgb(130, 182, 182);
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.navLink:hover {
  background-color: $success;
  transition: 0.3 ease-in-out;
}

.navLinkActive {
  background-color: #82b6b6;
  border-radius: 15px;
}

.icon {
  width: 1.5rem;
}

.iconTable {
  width: 1rem;
  margin-bottom: 3px;
  margin-left: 2px;
}

.active {
  background-color: #249b52;
  color: #000;
}

.tableHeaderSort {
  cursor: pointer;
}

textarea {
  field-sizing: content;
  min-height: 80px;
  width: 100%;
  padding: 1rem;
  border: unset;
  border-radius: 5px;
}
